# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA / Eclipse / VS Code
*.iml
.idea/
*.ipr
*.iws
*.launch
*.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# H2 database file
/data/
*.mv.db

# Environment files
.env